<div class="container">
  <div class="row">
    <div class="col-4">
      <%= image_tag @user.image.url, width: "200px", class: "img-circle" unless @user.image.url.blank?%>
    </div>
    <div class="col-8 text-left">
      <h2> <%= @user.username %> </h2>
      <%= link_to "Edit profile", edit_user_registration_path, class: "btn btn-secondary" %>
      <div class="profile-stats"> <%= @user.posts.count %> posts </div>
      <div class="profile-stats">followers</div>
      <div class="profile-stats"> following </div>

      <%= simple_format @user.description %>
      <p> <%= link_to @user.website if @user.website.present? %> </p>
    </div>
  </div>
</div>

<div class="profile-posts" align="center">
  <div class="row">
      <% @posts.each do |post| %>
      <div class="col-4">
        <div class="post-meta">
        <%= image_tag post.image.url, class: "img img-fluid" %>
        </div>
      </div>
      <% end %>
  </div>
</div>
