<div class="container" align="center">
    <div class="row">
      <div class="col-8">
        <% @posts.each do |post| %>
        <div class="posts-meta">
          <%= image_tag post.user.image.thumb.url, class: "img-circle" unless post.user.image.blank? %>
          <%= link_to post.user.username, profile_path(post.user.username), class: "text-dark" %>
        </div>

        <%= image_tag post.image.url, class: "img img-fluid" %>

        <div class="post-details">
          <div class="post-actions">
            <i class="fas fa-heart like-<%= post.id %> <%= 'active' if liked_by_user?(post.id) %> fa-2x post-like" data-id="<%= post.id %>"></i>
            <i class="fas fa-comment fa-2x post-comment"></i>
          </div>

          <p><strong> <%= post.total_likes %> likes </strong></p>
          <p><strong> <%= link_to post.user.username, profile_path(post.user.username), class: "text-dark" %> </strong></p>
          <%= simple_format post.description %>
          <p class="text-muted"><%= time_ago_in_words post.created_at %> ago</p>
        </div>

        <% end %>
        </div>

          <div class="col-4">
            <div class="user-profile">
              <p><%= image_tag current_user.image.thumb.url, class: "img-circle" unless current_user.image.blank? %>
             <%= simple_format current_user.username %></p>
            </div>
            <div class="follower-suggestions">
              <p class="text-muted"> Suggestions for you </p>
            </div>
          </div>
      </div>
</div>
