<!DOCTYPE html>
<html land="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description content="">
    <meta name="author content="">

    <title>Instaapp</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', 'posts', 'users', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="container">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <%= link_to 'Home', posts_url, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'My profile', dashboard_url, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Create post', new_post_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "nav-link" %>
      </li>
    </ul>

  <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane container fade" id="Home">Home</div>
      <div class="tab-pane container fade" id="My profile">My profile</div>
      <div class="tab-pane container fade" id="New post">New post</div>
      <div class="tab-pane container fade" id="Sign out">Sign out</div>
    </div>
  </div>

  <div class="container" align="center">
    <h1>InstaApp</h1>
    <body>
      <%= render 'layouts/alerts' %>
      <%= yield %>
    </body>
  </div>
</html>
