<!DOCTYPE html>
<html land="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description content="">
    <meta name="author content="">

    <title>Instaapp</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', 'posts', 'users', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'posts', 'data-turbolinks-track': 'reload' %>
  </head>


  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">InstaApp</a>
      </div>
      <% if user_signed_in? %>
      <%= render "layouts/user_navigation" %>
      <% else %>
      <%= render "layouts/public_nav" %>
      <% end %>
    </div>
  </nav>
  <div class="container">
    <body>
      <%= render 'layouts/alerts' %>
      <%= yield %>
    </body>
  </div>
</html>
